{
  "extends": ["@nuxt/eslint-config", "plugin:prettier/recommended"],
  "plugins": ["@stylistic/eslint-plugin"],
  "overrides": [
    {
      "files": ["components/**/*.vue"],
      "rules": { "vue/multi-word-component-names": "off" }
    }
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", { "args": "all", "argsIgnorePattern": "^_" }],
    "no-unused-vars": "off"  
  }
}
